In [1]:
import pandas as pd

In [36]:
path = 'C:/Users/ah3wj/Desktop/epi-segmentation/'
df = pd.read_csv(path + 'covid-19-data/us-states.csv')

In [42]:
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [38]:
df_sorted = df.sort_values('state', ascending = True)

In [43]:
df_sorted

            date    state  fips  cases  deaths
1444  2020-03-29  Alabama     1    830       5
795   2020-03-17  Alabama     1     39       0
2049  2020-04-09  Alabama     1   2838      78
2777  2020-04-22  Alabama     1   5610     201
1281  2020-03-26  Alabama     1    538       3
2553  2020-04-18  Alabama     1   4723     147
1994  2020-04-08  Alabama     1   2499      67
903   2020-03-19  Alabama     1     78       0
2833  2020-04-23  Alabama     1   5832     197
957   2020-03-20  Alabama     1    106       0
1389  2020-03-28  Alabama     1    720       4
1609  2020-04-01  Alabama     1   1106      28
1554  2020-03-31  Alabama     1    999      13
1939  2020-04-07  Alabama     1   2197      64
1884  2020-04-06  Alabama     1   2006      53
1065  2020-03-22  Alabama     1    157       0
1829  2020-04-05  Alabama     1   1841      45
1119  2020-03-23  Alabama     1    196       0
1774  2020-04-04  Alabama     1   1633      44
2609  2020-04-19  Alabama     1   4903     160
1173  2020-03-24  Alabama     1    242       0
1335  2020-03-27  Alabama     1    639       4
1664  2020-04-02  Alabama     1   1270      32
1719  2020-04-03  Alabama     1   1535      38
1227  2020-03-25  Alabama     1    386       1
1011  2020-03-21  Alabama     1    131       0
742   2020-03-16  Alabama     1     29       0
849   2020-03-18  Alabama     1     51       0
2105  2020-04-10  Alabama     1   3008      80
2721  2020-04-21  Alabama     1   5327     186
...          ...      ...   ...    ...     ...
636   2020-03-13  Wyoming    56      2       0
2328  2020-04-13  Wyoming    56    275       1
2440  2020-04-15  Wyoming    56    288       2
2496  2020-04-16  Wyoming    56    296       2
2832  2020-04-22  Wyoming    56    326       6
1883  2020-04-05  Wyoming    56    200       0
848   2020-03-17  Wyoming    56     15       0
1226  2020-03-24  Wyoming    56     37       0
1280  2020-03-25  Wyoming    56     49       0
1118  2020-03-22  Wyoming    56     26       0
1334  2020-03-26  Wyoming    56     56       0
1388  2020-03-27  Wyoming    56     73       0
1064  2020-03-21  Wyoming    56     24       0
1443  2020-03-28  Wyoming    56     84       0
1010  2020-03-20  Wyoming    56     22       0
1498  2020-03-29  Wyoming    56     87       0
1553  2020-03-30  Wyoming    56     95       0
2720  2020-04-20  Wyoming    56    317       2
2608  2020-04-18  Wyoming    56    309       2
956   2020-03-19  Wyoming    56     18       0
1608  2020-03-31  Wyoming    56    120       0
1663  2020-04-01  Wyoming    56    137       0
902   2020-03-18  Wyoming    56     17       0
1718  2020-04-02  Wyoming    56    153       0
1773  2020-04-03  Wyoming    56    166       0
1828  2020-04-04  Wyoming    56    187       0
2776  2020-04-21  Wyoming    56    322       6
1172  2020-03-23  Wyoming    56     28       0
1938  2020-04-06  Wyoming    56    212       0
2888  2020-04-23  Wyoming    56    332       7

[2889 rows x 5 columns]

In [39]:
df_sorted.groupby(['state']).agg('count')

                          date  fips  cases  deaths
state
Alabama                     42    42     42      42
Alaska                      43    43     43      43
American Samoa              15    15     15      15
Arizona                     89    89     89      89
Arkansas                    44    44     44      44
California                  90    90     90      90
Colorado                    50    50     50      50
Connecticut                 47    47     47      47
Delaware                    44    44     44      44
District of Columbia        48    48     48      48
Florida                     54    54     54      54
Georgia                     53    53     53      53
Guam                        40    40     40      40
Hawaii                      49    49     49      49
Idaho                       42    42     42      42
Illinois                    91    91     91      91
Indiana                     49    49     49      49
Iowa                        47    47     47      47
Kansas                      48    48     48      48
Kentucky                    49    49     49      49
Louisiana                   46    46     46      46
Maine                       43    43     43      43
Maryland                    50    50     50      50
Massachusetts               83    83     83      83
Michigan                    45    45     45      45
Minnesota                   49    49     49      49
Mississippi                 44    44     44      44
Missouri                    48    48     48      48
Montana                     42    42     42      42
Nebraska                    67    67     67      67
Nevada                      50    50     50      50
New Hampshire               53    53     53      53
New Jersey                  51    51     51      51
New Mexico                  44    44     44      44
New York                    54    54     54      54
North Carolina              52    52     52      52
North Dakota                44    44     44      44
Northern Mariana Islands    27    27     27      27
Ohio                        46    46     46      46
Oklahoma                    49    49     49      49
Oregon                      56    56     56      56
Pennsylvania                49    49     49      49
Puerto Rico                 42    42     42      42
Rhode Island                54    54     54      54
South Carolina              49    49     49      49
South Dakota                45    45     45      45
Tennessee                   50    50     50      50
Texas                       72    72     72      72
Utah                        59    59     59      59
Vermont                     48    48     48      48
Virgin Islands              41    41     41      41
Virginia                    48    48     48      48
Washington                  94    94     94      94
West Virginia               38    38     38      38
Wisconsin                   79    79     79      79
Wyoming                     44    44     44      44