In [1]:
import pandas as pd
import numpy as np

In [2]:
path = ''
df = pd.read_csv(path + 'covid-19-dataset/us-states.csv')

In [3]:
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [4]:
df.state.head()

0    Washington
1    Washington
2    Washington
3      Illinois
4    Washington
Name: state, dtype: object

In [5]:
df['date'] = df['date'].astype('datetime64[ns]')

In [6]:
df.sort_values(by = ['date'], inplace = True, ascending = True)

In [7]:
all_dates = df.date.unique()
print(len(all_dates))

133

**Experimenting--- Will skip these cells below later**

In [8]:
all_dates[83], all_dates[84], all_dates[92], all_dates[93], all_dates[104], all_dates[105]

(numpy.datetime64('2020-04-13T00:00:00.000000000'),
 numpy.datetime64('2020-04-14T00:00:00.000000000'),
 numpy.datetime64('2020-04-22T00:00:00.000000000'),
 numpy.datetime64('2020-04-23T00:00:00.000000000'),
 numpy.datetime64('2020-05-04T00:00:00.000000000'),
 numpy.datetime64('2020-05-05T00:00:00.000000000'))

**End of Experiments**

In [187]:
all_states = df.state.unique()
print(len(all_states))

55

In [190]:
def preprocess(lookup, resolution):
  with open(path + 'covid-19-dataset/processed-data/states/processed-us-states-' + lookup + '.csv', 'w+') as lookup_file:

    with open(path + 'covid-19-dataset/processed-data/states/us-states-order.csv', 'w+')  as order_file:

      for state in all_states:
        for date in all_dates:
          filter1 = df[resolution] == state
          filter2 =  df['date'] == date

          if((filter1 & filter2).any()):
            value = df.loc[filter1 & filter2][lookup].to_string(index=False)
          else:
            value = '0'

          if(date == all_dates[-1]):
            print(value , end='')
            lookup_file.write(value)
          else:
            print(value + ', ', end='')
            lookup_file.write(value + ', ')

        if(state=='District of Columbia'):
          state='DC'
        print(state + '\n', end='')
        order_file.write(state + '\n')

        
        print('\n')
        lookup_file.write('\n')

In [191]:
########################### careful here 

lookup = 'cases'
resolution = 'state'

preprocess(lookup= lookup, resolution = resolution)

 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  5,  5,  5,  5,  7,  10,  17,  23,  32,  47,  75,  86,  110,  141,  179,  279,  338,  419,  511,  609,  675,  794,  908,  1026,  1228,  1404,  1655,  1844,  2101,  2469,  2585,  3208,  3770,  4311,  4896,  5179,  5292,  5588,  6585,  6966,  7498,  7984,  8384,  8682,  9097,  9608,  9887,  10224,  10411,  10538,  10694,  10783,  11152,  11445,  11802,  11805,  12191,  12345,  12539,  12906,  13120,  13484,  13663,  13864,  14059,  14378,  14696,  15010,  15253,  15809,  15905,  16081,  16713,  17017,  17297,  17446,  17592,  17983,  18186,  18287,  18649,  18913,  19109,  19281,  19521,  19746,  19864,  20033,  20274,  20487,  20732,  21005,  21278,  21565,  21825,  22109,  22347,  22543,  23001Washington


0, 0, 0,  1,  1,  1,  1,  1,  1,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  3,  3,  4,  4,  4,  5,  6,  6,  7,  11,  19,  25,  32,  46,  66,  94,  104,  159,  286,  420,  583,  751,  1047,  1285,  1535,  1874,  2538,  3029,  3547,  4613,  5070,  5992,  6978,  7695,  8904,  10357,  11276,  12262,  13549,  15078,  16422,  17887,  19180,  20852,  22025,  23247,  24593,  25734,  27575,  29160,  30357,  31508,  33059,  35108,  36935,  39658,  41777,  43903,  45883,  48102,  50355,  52918,  56055,  58505,  61499,  63840,  65889,  68164,  70802,  73688,  76008,  77662,  79123,  83168,  84874,  88081,  90528,  92669,  94360,  96778,  98298,  100713,  102995,  105710,  108100,  110541,  112248,  113486,  114612,  116128,  117794,  119290,  120588,  121666Illinois


0, 0, 0, 0,  1,  2,  2,  2,  2,  2,  3,  3,  6,  6,  6,  6,  6,  6,  6,  6,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  8,  9,  9,  9,  11,  11,  26,  26,  27,  28,  33,  38,  45,  55,  67,  81,  100,  112,  172,  179,  202,  252,  320,  381,  478,  588,  732,  893,  1067,  1283,  1544,  1851,  2240,  2644,  3183,  4060,  4914,  5565,  6266,  7421,  8582,  9816,  11190,  12569,  13796,  15076,  16284,  17540,  19043,  20191,  21366,  22421,  23323,  24334,  25758,  27107,  28142,  29398,  30829,  31544,  33862,  35844,  37573,  39534,  41368,  42590,  43691,  45208,  46570,  48904,  50470,  52318,  53753,  55072,  56333,  58848,  60787,  62481,  64616,  66824,  68051,  69514,  71150,  73218,  74947,  77015,  78933,  80366,  81943,  83981,  86125,  88488,  90801,  92815,  94743,  97017,  99925,  101874,  104071,  107043,  110100,  113114,  115643California


0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  2,  3,  5,  5,  6,  6,  9,  9,  9,  12,  13,  18,  20,  28,  47,  70,  104,  153,  234,  326,  402,  508,  665,  773,  929,  1169,  1298,  1413,  1600,  1769,  2019,  2269,  2465,  2575,  2726,  3018,  3112,  3393,  3539,  3702,  3806,  3962,  4234,  4507,  4719,  4929,  5064,  5251,  5459,  5769,  6045,  6280,  6526,  6716,  6948,  7202,  7648,  7962,  8364,  8640,  8919,  9305,  9707,  9945,  10526,  10960,  11119,  11380,  11736,  12176,  12674,  13169,  13631,  13937,  14170,  14566,  14897,  15315,  15608,  16040,  16339,  16561,  16783,  17262,  17763,  18465,  19255,  19936,  20123Arizona


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  2,  3,  8,  13,  28,  41,  92,  95,  108,  123,  138,  164,  197,  218,  256,  328,  413,  525,  646,  777,  1159,  1838,  2417,  3240,  4257,  4955,  5752,  6620,  7738,  8966,  10402,  11736,  12500,  13837,  15202,  16790,  18941,  20974,  22860,  25475,  26867,  28163,  29918,  32181,  34402,  36372,  38077,  39643,  41199,  42944,  46023,  50969,  53348,  54938,  56462,  58302,  60265,  62205,  64311,  66263,  68087,  69087,  70271,  72025,  73721,  75333,  76743,  77793,  78462,  79332,  80497,  82182,  83421,  84933,  86010,  87052,  87925,  88970,  90084,  90889,  91662,  92675,  93271,  93693,  94220,  94895,  95512,  96301,  96965,  100805Massachusetts


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  3,  6,  8,  19,  27,  33,  47,  72,  106,  155,  216,  281,  382,  418,  481,  623,  754,  930,  1042,  1120,  1267,  1351,  1550,  1730,  1916,  2112,  2267,  2440,  2578,  2756,  2885,  3068,  3213,  3341,  3428,  3555,  3721,  3875,  4045,  4199,  4346,  4499,  4620,  4845,  5052,  5356,  5687,  5911,  6081,  6289,  6520,  6854,  7314,  7660,  7964,  8236,  8566,  8901,  9215,  9590,  9939,  10219,  10418,  10617,  10903,  11280,  11854,  12368,  12571,  12722,  13001,  13574,  13892,  14557,  14985,  15362,  15646,  15923,  16565,  17211,  17784,  18249,  18418,  18556Wisconsin


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  2,  2,  2,  2,  2,  2,  2,  4,  4,  4,  10,  10,  10,  10,  11,  11,  11,  11,  11,  12,  16,  19,  19,  23,  24,  31,  33,  41,  58,  69,  80,  87,  106,  166,  248,  377,  547,  632,  728,  857,  1119,  1542,  1940,  2158,  2709,  3036,  3570,  4255,  4880,  5669,  6566,  7091,  8104,  8968,  9897,  11372,  12290,  13208,  13776,  14487,  15303,  16106,  16928,  18131,  18927,  19441,  20035,  20949,  21769,  22706,  23650,  24494,  25209,  25963,  26868,  27839,  29072,  30342,  31433,  32299,  33134,  34286,  35441,  36682,  37943,  38849,  40037,  40988,  42348,  43822,  45169,  46987,  47866,  48828,  49788,  51080,  52183,  53441,  54369,  55386,  56050,  56490,  57573,  59105,  60820,  62073,  63396,  64974,  66081Texas


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  10,  10,  10,  11,  11,  11,  11,  12,  13,  13,  13,  13,  13,  13,  13,  13,  13,  13,  14,  14,  16,  16,  17,  23,  24,  27,  29,  31,  33,  36,  43,  47,  53,  61,  62,  73,  77,  84,  91,  99,  121,  136,  185,  193,  249,  273,  296,  339,  376,  437,  490,  538,  594,  678,  718,  805,  870,  930,  994,  1094,  1216,  1348,  1473,  1646,  1726,  1826,  2190,  2474,  2898,  3126,  3487,  3613,  3876,  4332,  4838,  5332,  5686,  6123,  6442,  6771,  7190,  7830,  8233,  8328,  8575,  8732,  9072,  9411,  9766,  10220,  10348,  10625,  10846,  11119,  11424,  11662,  11989,  12134,  12355,  12619,  12976,  13261,  13654,  13905,  14101,  14345Nebraska


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  3,  3,  3,  3,  4,  5,  7,  7,  21,  29,  40,  51,  65,  80,  112,  138,  182,  257,  298,  346,  402,  480,  608,  719,  806,  887,  1012,  1077,  1248,  1426,  1618,  1662,  1737,  1860,  1980,  2103,  2208,  2305,  2368,  2420,  2549,  2687,  2813,  2942,  3071,  3213,  3301,  3451,  3621,  3782,  3950,  4123,  4236,  4343,  4499,  4672,  4829,  4981,  5175,  5326,  5449,  5605,  5724,  5919,  6103,  6251,  6364,  6454,  6624,  6760,  6930,  7068,  7238,  7384,  7530,  7717,  7876,  8057,  8260,  8392,  8521,  8622,  8710,  8953,  9282,  9551,  9829,  10026Utah


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  2,  2,  2,  2,  2,  6,  13,  13,  14,  20,  30,  30,  36,  39,  46,  66,  74,  87,  114,  137,  161,  191,  209,  266,  316,  414,  479,  548,  606,  690,  736,  826,  899,  999,  1068,  1132,  1181,  1239,  1321,  1371,  1447,  1527,  1584,  1633,  1663,  1736,  1785,  1844,  1910,  1956,  2002,  2059,  2127,  2177,  2253,  2311,  2354,  2385,  2446,  2510,  2579,  2635,  2680,  2759,  2839,  2916,  2989,  3068,  3160,  3228,  3286,  3359,  3416,  3479,  3541,  3612,  3623,  3687,  3726,  3801,  3817,  3864,  3888,  3927,  3949,  3967,  4038,  4086,  4131,  4185,  4243,  4302Oregon


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  2,  2,  2,  3,  3,  3,  3,  5,  5,  5,  20,  20,  20,  21,  23,  33,  44,  44,  66,  83,  106,  124,  132,  165,  203,  239,  294,  408,  488,  566,  657,  711,  806,  922,  1082,  1229,  1450,  1727,  2015,  2349,  2665,  2976,  3251,  3529,  3838,  4177,  4491,  4706,  5090,  5500,  5841,  6256,  6699,  7129,  7439,  7708,  7926,  8247,  8621,  8962,  9289,  9477,  9652,  9933,  10205,  10530,  10779,  10989,  11274,  11450,  11614,  11835,  12016,  12219,  12434,  12674,  12795,  12951,  13356,  13571,  13736,  13952,  14065,  14065,  14210,  14353,  14494,  14635,  14819,  14928,  14991Rhode Island


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  11,  22,  44,  89,  106,  142,  173,  217,  326,  421,  610,  732,  950,  1375,  2387,  4161,  7113,  10371,  15188,  20899,  25703,  33116,  39057,  44745,  53516,  59783,  67462,  76211,  84363,  92971,  103651,  115963,  124085,  132061,  141703,  151271,  162036,  172830,  182990,  191425,  197973,  205375,  217130,  225761,  233293,  240542,  246741,  251608,  255932,  261591,  267932,  276218,  286901,  292914,  296991,  300276,  304994,  309696,  313575,  318134,  321833,  324357,  326659,  329405,  332931,  335804,  338519,  340657,  342267,  343705,  345828,  348192,  350951,  353136,  355037,  356278,  357757,  359235,  361313,  362991,  364745,  366346,  367625,  368669,  369801,  371559,  373108,  374471,  375575,  376520New York


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  3,  3,  4,  7,  12,  13,  14,  23,  26,  46,  70,  70,  109,  141,  210,  326,  434,  564,  764,  1000,  1222,  1467,  1965,  2477,  3198,  4038,  4942,  5694,  6741,  7765,  9000,  10260,  11537,  12342,  13621,  14739,  15690,  16819,  17960,  18978,  19855,  21011,  21620,  22526,  23332,  24745,  25484,  26306,  27050,  27861,  28301,  29640,  30525,  30831,  31520,  32130,  32838,  33185,  33683,  34720,  35455,  36070,  36889,  37431,  37994,  38820,  39191,  39993,  40588,  40974,  41915,  42394,  43202,  44130,  44803,  45580,  46434,  46936,  47463,  48667,  49443,  50119,  50859,  51738,  52247,  52626,  53277,  54489,  55416,  56155,  56822Florida


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  2,  2,  3,  7,  11,  17,  22,  31,  31,  41,  65,  97,  118,  142,  193,  282,  482,  552,  620,  800,  1095,  1385,  1641,  2198,  2447,  2683,  3032,  4116,  4747,  5444,  5967,  6383,  6742,  7558,  9156,  10204,  10885,  11859,  12261,  12103,  13125,  13913,  14583,  15644,  16658,  17014,  17619,  18447,  19189,  20099,  20905,  21575,  22225,  22459,  23229,  23607,  24300,  25431,  26436,  27268,  27618,  28350,  28876,  29724,  30524,  31089,  31481,  32267,  32448,  33311,  33866,  34422,  35242,  35655,  35954,  36634,  37214,  38162,  38969,  39734,  40408,  40989,  41414,  42066,  42713,  43363,  43888,  44336,  45051,  45757Georgia


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  2,  2,  2,  4,  4,  4,  5,  5,  6,  7,  7,  13,  17,  26,  39,  44,  55,  65,  78,  101,  108,  137,  158,  187,  214,  258,  314,  367,  415,  479,  540,  621,  669,  715,  747,  788,  819,  885,  929,  985,  1020,  1091,  1139,  1211,  1287,  1342,  1392,  1447,  1491,  1588,  1670,  1720,  1793,  1864,  1938,  2010,  2054,  2146,  2310,  2429,  2518,  2588,  2636,  2741,  2843,  2947,  3011,  3071,  3160,  3239,  3299,  3382,  3464,  3556,  3596,  3652,  3721,  3868,  3935,  4014,  4089,  4149,  4197,  4231,  4286,  4389,  4492,  4545,  4651,  4685New Hampshire


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  2,  2,  2,  7,  7,  8,  16,  18,  25,  32,  34,  42,  66,  104,  144,  184,  269,  302,  397,  561,  637,  782,  971,  1164,  1302,  1526,  1580,  1857,  2093,  2402,  2585,  2870,  3220,  3423,  3651,  3906,  4310,  4520,  4788,  4992,  5123,  5463,  5859,  6140,  6493,  6764,  6951,  7220,  7608,  8052,  8542,  8830,  9035,  9568,  9947,  10507,  10922,  11514,  11668,  11871,  12283,  12783,  13431,  13879,  14387,  14783,  15069,  15402,  15850,  16593,  17190,  18009,  18537,  19121,  19762,  20221,  20915,  21661,  22731,  23231,  23997,  24188,  24787,  25616,  26735,  27761,  28686,  29368North Carolina


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  4,  4,  6,  11,  15,  23,  29,  50,  75,  98,  176,  268,  427,  735,  896,  1336,  1914,  2844,  3675,  4402,  6876,  8825,  11124,  13386,  16636,  18696,  22255,  25590,  29895,  34124,  37505,  41090,  44416,  47437,  51027,  54588,  58151,  61850,  64584,  68824,  71030,  75317,  78467,  81420,  85301,  88806,  92387,  95865,  99989,  102196,  105523,  109038,  111188,  113856,  116264,  118652,  121190,  123717,  126744,  128269,  130593,  131890,  133635,  135454,  137085,  138532,  139945,  140743,  141560,  142704,  143905,  145089,  146334,  148039,  149013,  150399,  151472,  152719,  153104,  154154,  155092,  155764,  156628,  157815,  158844,  159608,  160445,  160918New Jersey


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  3,  4,  7,  8,  18,  26,  32,  39,  52,  73,  98,  155,  237,  312,  424,  522,  678,  806,  981,  1180,  1363,  1569,  1721,  2049,  2689,  2868,  3032,  3265,  3538,  3753,  4010,  4246,  4456,  4793,  4983,  5144,  5483,  5654,  5864,  6077,  6423,  6624,  6824,  6994,  7317,  7681,  8169,  8618,  8918,  9435,  9739,  9974,  10255,  10506,  11781,  12376,  12871,  13283,  13555,  13737,  14108,  14276,  14675,  15060,  15423,  15777,  16261,  16588,  16917,  17204,  17391,  17767,  18301,  18534,  18970,  19364,  19765,  20116,  20533,  20960,  21360,  21763,  22199,  22676,  22832,  23242Tennessee


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  2,  4,  4,  4,  7,  11,  19,  21,  26,  45,  55,  82,  99,  165,  165,  190,  265,  315,  405,  535,  621,  738,  920,  1044,  1113,  1279,  1458,  1549,  1758,  1880,  1971,  2101,  2318,  2456,  2606,  2720,  2860,  3036,  3137,  3212,  3321,  3524,  3626,  3741,  3830,  3937,  4081,  4208,  4398,  4539,  4638,  4708,  4812,  4934,  5053,  5249,  5390,  5473,  5627,  5665,  5744,  5858,  5942,  6046,  6120,  6152,  6311,  6482,  6604,  6733,  6810,  6935,  7059,  7169,  7301,  7402,  7531,  7769,  7886,  7959,  8059,  8150,  8247,  8375,  8519,  8628,  8701Nevada


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  3,  3,  5,  6,  9,  13,  13,  18,  27,  32,  39,  57,  85,  108,  150,  195,  245,  290,  349,  423,  581,  775,  1066,  1244,  1414,  1662,  1985,  2331,  2758,  3125,  3609,  4045,  4371,  5529,  6185,  6968,  7694,  8225,  8936,  9472,  10096,  10851,  11641,  12379,  12892,  13750,  14261,  14842,  15805,  16693,  17844,  18664,  19574,  20200,  20942,  21825,  23566,  24568,  25561,  26509,  27217,  28263,  29476,  30592,  31638,  32693,  33483,  34174,  34927,  36021,  37105,  38083,  38920,  39882,  41664,  42442,  43645,  44539,  45608,  46919,  47754,  48290,  49042,  50334,  51631,  52662,  53456,  54035Maryland

0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  8,  8,  8,  12,  17,  34,  49,  78,  103,  136,  161,  183,  216,  278,  364,  475,  591,  721,  912,  1086,  1432,  1735,  2061,  2315,  2628,  2990,  3346,  3728,  4182,  4574,  4950,  5172,  5429,  5655,  6202,  6510,  6893,  7303,  7691,  7941,  8280,  8675,  9047,  9433,  9730,  10106,  10447,  10878,  11262,  12255,  12967,  13440,  13804,  14239,  14680,  15207,  15661,  16118,  16527,  16799,  17256,  17720,  18264,  18719,  19267,  19595,  19793,  20103,  20442,  20813,  21207,  21604,  21909,  22174,  22454,  22769,  23161,  23456,  23932,  24140,  24256,  24553,  24775,  25116,  25602,  26084,  26364,  26563Colorado


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  2,  2,  2,  3,  4,  8,  10,  18,  29,  44,  49,  53,  67,  81,  106,  164,  248,  322,  377,  429,  481,  566,  719,  879,  987,  1159,  1251,  1326,  1470,  1523,  1683,  1794,  1868,  1970,  2069,  2184,  2263,  2357,  2465,  2570,  2599,  2680,  2807,  2894,  3017,  3120,  3193,  3253,  3280,  3410,  3473,  3618,  3748,  3851,  3972,  4044,  4127,  4201,  4330,  4424,  4490,  4589,  4613,  4731,  4852,  4962,  5086,  5237,  5310,  5398,  5489,  5532,  5680,  5849,  5960,  6037,  6090,  6137,  6229,  6270,  6338,  6418,  6506,  6573Oklahoma


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  4,  6,  10,  12,  16,  22,  41,  47,  68,  81,  101,  139,  187,  269,  388,  504,  644,  851,  1151,  1690,  2217,  2815,  3441,  4156,  4997,  5805,  7016,  8420,  10109,  11589,  13074,  14582,  16414,  18379,  20128,  21774,  22955,  24295,  25591,  26804,  28314,  30121,  31742,  32992,  34005,  35384,  36763,  38334,  40298,  41626,  42709,  43728,  45323,  46191,  48224,  49764,  51071,  52079,  52992,  53967,  54989,  56149,  57501,  58661,  60037,  60557,  61407,  62194,  63158,  64178,  65228,  65745,  66676,  67404,  68151,  69252,  70305,  71102,  71656,  72356,  72873,  73646,  74312,  75073,  75789,  76218,  76734Pennsylvania


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  6,  7,  9,  10,  12,  13,  19,  28,  33,  47,  60,  81,  126,  172,  194,  299,  342,  424,  456,  539,  660,  774,  925,  1083,  1293,  1554,  1700,  1917,  2049,  2232,  2417,  2552,  2792,  3065,  3207,  3319,  3439,  3553,  3656,  3931,  4086,  4246,  4377,  4439,  4608,  4761,  4917,  5070,  5253,  5490,  5613,  5735,  5881,  6095,  6258,  6489,  6626,  6757,  6841,  6936,  7142,  7367,  7531,  7653,  7792,  7927,  8030,  8189,  8407,  8661,  8816,  8942,  9056,  9175,  9379,  9638,  9895,  10096,  10178,  10416,  10623,  10788,  11131,  11394,  11861,  12148South Carolina


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  2,  2,  2,  2,  2,  4,  7,  10,  14,  16,  26,  37,  48,  56,  77,  90,  95,  106,  120,  151,  175,  204,  224,  258,  283,  317,  349,  369,  385,  408,  433,  440,  463,  484,  497,  502,  511,  524,  535,  547,  568,  574,  578,  580,  586,  590,  595,  597,  599,  600,  602,  605,  609,  610,  611,  611,  612,  615,  616,  619,  619,  620,  621,  623,  624,  627,  627,  628,  629,  630,  630,  631,  633,  637,  632,  633,  633,  633,  633,  634,  637,  639,  641,  642,  642Hawaii


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  4,  6,  11,  12,  12,  15,  19,  24,  30,  39,  56,  81,  128,  204,  264,  371,  484,  661,  988,  1239,  1522,  1797,  2170,  2578,  3056,  3455,  3975,  4437,  4986,  5542,  5986,  6400,  6960,  7494,  7990,  8300,  8598,  9030,  9619,  10234,  10729,  11300,  11783,  12198,  12551,  13184,  13837,  14556,  15175,  16137,  16783,  17409,  18099,  18941,  19629,  20267,  20855,  21423,  22286,  22942,  23620,  24239,  24633,  25134,  25676,  26044,  26627,  27281,  27919,  28419,  28897,  29402,  29986,  30673,  31165,  31674,  32151,  32489,  32856,  33242,  33885,  34399,  35064,  35429,  35684Indiana


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  4,  5,  7,  7,  11,  11,  18,  21,  22,  26,  35,  47,  63,  84,  103,  124,  157,  198,  248,  302,  394,  439,  480,  590,  674,  747,  762,  909,  1048,  1057,  1289,  1393,  1525,  1702,  1851,  1963,  2048,  2210,  2295,  2429,  2522,  2707,  2960,  3050,  3193,  3373,  3548,  3779,  3905,  4074,  4146,  4375,  4538,  4708,  4879,  4881,  5223,  5370,  5822,  5946,  6173,  6298,  6469,  6486,  6710,  7003,  7102,  7397,  7578,  7773,  7793,  8041,  8205,  8336,  8475,  8688,  8812,  8842,  8899,  9175,  9313,  9510,  9688,  9887,  9937,  10150Kentucky


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  2,  3,  5,  9,  14,  21,  35,  54,  60,  77,  89,  115,  138,  171,  235,  262,  287,  346,  398,  440,  504,  576,  629,  689,  742,  789,  865,  935,  986,  1069,  1154,  1242,  1335,  1427,  1621,  1650,  1695,  1809,  1912,  2071,  2213,  2356,  2470,  2567,  2721,  2942,  3185,  3446,  3602,  3816,  4181,  4644,  5136,  5730,  6228,  6663,  7234,  7851,  8579,  9364,  10087,  10789,  11270,  11798,  12493,  12916,  13443,  14249,  14978,  15677,  16381,  17038,  17679,  18209,  19014,  19854,  20582,  21324,  21969,  22474,  22957,  23541,  24200,  24860,  25218Minnesota


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  2,  2,  2,  5,  8,  12,  14,  19,  22,  29,  49,  52,  75,  95,  123,  158,  184,  211,  235,  256,  293,  321,  338,  389,  461,  512,  543,  575,  605,  628,  679,  711,  727,  748,  752,  759,  768,  779,  803,  812,  816,  818,  823,  825,  827,  843,  851,  855,  862,  862,  866,  879,  886,  897,  902,  907,  908,  916,  919,  921,  926,  926,  927,  929,  932,  933,  934,  940,  940,  944,  944,  950,  952,  954,  956,  962,  967,  971,  974,  975,  977,  981,  983Vermont


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  5,  8,  10,  17,  30,  42,  45,  51,  67,  78,  94,  115,  152,  219,  254,  290,  390,  603,  605,  739,  889,  1020,  1249,  1511,  1705,  2011,  2406,  2636,  2877,  3332,  3644,  4041,  4508,  5076,  5273,  5746,  6170,  6499,  6888,  7490,  8052,  8536,  8989,  9629,  10265,  10999,  11595,  12365,  12969,  13534,  14338,  14961,  15846,  16901,  17731,  18671,  19492,  20256,  20256,  21570,  22342,  23196,  24081,  25070,  25800,  26746,  27813,  28672,  29683,  30388,  31140,  32145,  32908,  34137,  34950,  35749,  36244,  37727,  39342,  40249,  41401,  42533,  43611,  44607,  45398Virginia


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  4,  4,  10,  10,  10,  16,  17,  22,  31,  36,  39,  71,  77,  98,  116,  137,  183,  231,  267,  304,  342,  401,  495,  586,  653,  757,  902,  998,  1097,  1211,  1440,  1523,  1660,  1778,  1875,  1955,  2058,  2197,  2350,  2476,  2666,  2793,  2927,  3098,  3206,  3361,  3528,  3699,  3841,  3892,  3994,  4106,  4323,  4658,  4797,  5016,  5170,  5322,  5461,  5654,  5899,  6102,  6272,  6389,  6485,  6584,  6736,  6871,  7042,  7123,  7270,  7434,  7551,  7788,  7893,  7966,  8110,  8225,  8334,  8406,  8492,  8538,  8717,  8801,  8857DC


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  5,  6,  8,  9,  11,  17,  22,  35,  49,  57,  66,  82,  99,  132,  171,  212,  271,  332,  373,  434,  488,  554,  624,  702,  767,  854,  905,  1055,  1116,  1180,  1282,  1337,  1382,  1438,  1501,  1593,  1730,  1818,  1896,  2029,  2113,  2290,  2625,  2841,  3090,  3197,  3406,  3601,  3811,  4305,  4510,  4863,  5177,  5385,  5627,  5893,  6240,  6751,  6923,  7045,  7161,  7352,  7552,  7668,  8006,  8059,  8066,  8439,  8488,  8661,  8771,  9068,  9119,  9135,  9272,  9352,  9453,  9512,  9826,  9847,  9878,  10103Kansas


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  2,  4,  5,  5,  9,  16,  21,  35,  73,  93,  130,  183,  255,  377,  507,  670,  837,  902,  1049,  1350,  1580,  1834,  2113,  2291,  2367,  2722,  3037,  3327,  3539,  3799,  4024,  4160,  4388,  4686,  4895,  5111,  5283,  5517,  5667,  5807,  5941,  6137,  6321,  6625,  6826,  6997,  7171,  7306,  7426,  7563,  7840,  8154,  8454,  8776,  8919,  9164,  9409,  9573,  9737,  9906,  10025,  10124,  10369,  10490,  10567,  10794,  11069,  11225,  11369,  11510,  11657,  11797,  11922,  12114,  12296,  12437,  12624,  12815,  12949,  13118,  13297,  13523Missouri


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  2,  3,  6,  11,  20,  26,  41,  68,  96,  159,  194,  223,  327,  415,  618,  875,  1012,  1291,  1524,  1993,  2571,  3128,  3557,  3824,  4915,  5276,  5675,  6906,  7781,  8781,  9784,  10538,  11510,  12035,  13381,  13989,  14755,  15884,  16809,  17550,  17962,  19815,  20360,  22469,  23100,  23921,  24582,  25269,  25997,  26312,  26767,  27700,  28764,  29287,  29287,  29973,  30621,  30995,  31784,  32411,  32984,  33554,  33765,  34333,  34855,  35464,  36085,  36703,  37419,  38116,  38430,  39017,  39208,  39640,  40022,  40468,  40873,  41303,  41288,  41559,  41762,  42022,  42201,  42740Connecticut


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  8,  13,  14,  16,  17,  18,  22,  22,  29,  38,  44,  45,  68,  90,  105,  124,  145,  179,  235,  298,  336,  424,  498,  549,  614,  699,  786,  868,  946,  1048,  1145,  1270,  1388,  1510,  1587,  1710,  1899,  1995,  2141,  2332,  2513,  2915,  3175,  3641,  3764,  3939,  4459,  5109,  5490,  5868,  6376,  6843,  7145,  7883,  8641,  9169,  9703,  10111,  10404,  11059,  11457,  11671,  11959,  12373,  12912,  13289,  13675,  14049,  14328,  14651,  14955,  15296,  15868,  16170,  16510,  16898,  17434,  17628,  17999,  18446,  18672,  19019,  19336,  19621,  19789Iowa


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  3,  4,  5,  13,  26,  37,  50,  67,  90,  120,  169,  247,  351,  444,  564,  706,  867,  1144,  1406,  1665,  1933,  2199,  2547,  2902,  3312,  3739,  4043,  4450,  4783,  5149,  5513,  5879,  6251,  6605,  6975,  7280,  7791,  8414,  9107,  10222,  11602,  12919,  13725,  14117,  14694,  15169,  15587,  15963,  16325,  16769,  17303,  18027,  18743,  19335,  19914,  20474,  20969,  21576,  22131,  23018,  23697,  24086,  24785,  25257,  25727,  26363,  26956,  27476,  27925,  28455,  28953,  29437,  30168,  30795,  31408,  31911,  32477,  33006,  33439,  33915,  34566,  35034,  35513,  35984Ohio


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  6,  13,  14,  36,  77,  103,  137,  196,  280,  392,  537,  763,  837,  1172,  1388,  1795,  2305,  2746,  3315,  3539,  4024,  5237,  6424,  9152,  10299,  12500,  13014,  14867,  16284,  17030,  18283,  19253,  20014,  20595,  21016,  21518,  21951,  22532,  23118,  23580,  23928,  24523,  24854,  25317,  25798,  26199,  26571,  26832,  27111,  27329,  27703,  28044,  28754,  29183,  29383,  29746,  30069,  30472,  30725,  30928,  31490,  31673,  31881,  32116,  32728,  33555,  33903,  34183,  34498,  34832,  35161,  35439,  36627,  37048,  37165,  37293,  37916,  38252,  38694,  38907,  38907,  39682,  40021,  40452Louisiana


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  5,  8,  8,  9,  9,  9,  10,  11,  11,  14,  14,  14,  21,  28,  30,  41,  46,  58,  68,  90,  100,  107,  128,  165,  187,  212,  240,  288,  320,  393,  447,  536,  626,  729,  867,  987,  1167,  1310,  1410,  1541,  1635,  1685,  1755,  1858,  1956,  2040,  2147,  2213,  2246,  2314,  2375,  2450,  2525,  2587,  2630,  2667,  2720,  2779,  2905,  3144,  3393,  3517,  3614,  3663,  3732,  3792,  3887,  3959,  3987,  4027,  4085,  4177,  4177,  4356,  4468,  4563,  4586,  4653,  4710,  4793,  4866,  4960,  4993,  5034South Dakota


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  12,  25,  33,  53,  54,  65,  80,  334,  548,  787,  1033,  1324,  1791,  2293,  2877,  3655,  4634,  5486,  6508,  7629,  9292,  10791,  12669,  14225,  15633,  17129,  18851,  20220,  21375,  22646,  23853,  24494,  25487,  26844,  27893,  29119,  29952,  30717,  31348,  31927,  32935,  33929,  35252,  36627,  37184,  37751,  38190,  39234,  40360,  41347,  42348,  43191,  43736,  43928,  44333,  45048,  45643,  46319,  46735,  47116,  47526,  47946,  48307,  49489,  49982,  50416,  51054,  51853,  52337,  52988,  53468,  53865,  54304,  54616,  54816,  55040,  55544,  55944,  56589,  56848,  57355,  58435Michigan


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  1,  1,  5,  7,  19,  27,  28,  30,  32,  36,  45,  58,  68,  93,  97,  108,  126,  147,  159,  173,  186,  207,  225,  237,  251,  269,  278,  293,  308,  331,  341,  365,  393,  439,  528,  585,  627,  644,  679,  709,  748,  803,  867,  942,  991,  1033,  1067,  1107,  1153,  1191,  1225,  1266,  1323,  1371,  1425,  1464,  1491,  1518,  1571,  1647,  1712,  1761,  1848,  1900,  1931,  1994,  2095,  2229,  2317,  2365,  2418,  2457,  2422,  2442,  2484,  2523,  2557,  2580,  2628North Dakota


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  4,  6,  10,  13,  17,  21,  23,  28,  35,  43,  57,  65,  83,  100,  112,  136,  191,  208,  237,  281,  315,  363,  403,  495,  543,  624,  686,  794,  865,  989,  1090,  1174,  1245,  1345,  1407,  1484,  1597,  1711,  1798,  1845,  1971,  2072,  2210,  2379,  2524,  2662,  2728,  2825,  2975,  3213,  3411,  3513,  3732,  3850,  4030,  4137,  4290,  4492,  4673,  4778,  4863,  5069,  5212,  5364,  5503,  5662,  5847,  5938,  6096,  6192,  6338,  6472,  6625,  6795,  6943,  7026,  7130,  7252,  7364,  7493,  7624,  7689,  7800New Mexico


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  3,  3,  10,  15,  17,  18,  22,  24,  26,  28,  37,  49,  56,  73,  84,  87,  95,  120,  137,  153,  166,  188,  200,  212,  221,  230,  303,  320,  343,  364,  373,  373,  392,  393,  401,  412,  422,  426,  441,  447,  453,  473,  473,  502,  520,  536,  544,  559,  566,  579,  586,  596,  604,  631,  635,  644,  653,  662,  669,  675,  688,  701,  716,  741,  754,  766,  776,  787,  801,  803,  813,  813,  843,  850,  860,  876,  891,  898,  903,  910Wyoming


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  6,  6,  10,  12,  21,  34,  50,  80,  140,  207,  249,  320,  376,  486,  579,  669,  759,  848,  937,  1073,  1177,  1358,  1455,  1638,  1738,  1915,  2003,  2260,  2469,  2642,  2781,  2942,  3087,  3360,  3624,  3793,  3974,  4274,  4512,  4716,  4894,  5153,  5434,  5718,  5911,  6094,  6342,  6569,  6815,  7212,  7441,  7550,  7877,  8207,  8424,  8686,  9090,  9378,  9501,  9674,  9908,  10090,  10483,  10801,  11123,  11296,  11432,  11704,  11967,  12222,  12624,  13005,  13252,  13458,  13731,  14044,  14372,  14790,  15229,  15501,  15752Mississippi

0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  6,  7,  9,  16,  22,  22,  33,  62,  100,  118,  165,  201,  231,  307,  350,  385,  409,  449,  508,  564,  624,  683,  738,  743,  853,  927,  997,  1077,  1146,  1202,  1228,  1280,  1475,  1498,  1599,  1620,  1695,  1777,  1781,  1971,  2262,  2392,  2599,  2810,  2909,  3001,  3069,  3127,  3207,  3281,  3310,  3372,  3431,  3469,  3525,  3611,  3694,  3747,  3747,  4012,  4043,  4164,  4236,  4366,  4463,  4578,  4759,  4813,  4923,  5003,  5458,  5612,  5775,  5922,  6029,  6180,  6277,  6538,  6777,  7013,  7253,  7443Arkansas


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  4,  4,  4,  7,  8,  16,  26,  30,  39,  45,  56,  87,  104,  119,  143,  165,  214,  232,  264,  319,  368,  393,  450,  593,  673,  783,  928,  1116,  1209,  1326,  1479,  1625,  1761,  1926,  2014,  2075,  2323,  2538,  2538,  2745,  2931,  3200,  3308,  3442,  3576,  4034,  4162,  4575,  4655,  4734,  4918,  5038,  5208,  5288,  5371,  5778,  5939,  6111,  6277,  6447,  6565,  6741,  6952,  7223,  7373,  7547,  7670,  7869,  8037,  8194,  8386,  8529,  8690,  8809,  8965,  9066,  9096,  9171,  9236,  9422,  9498,  9605Delaware


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  1,  1,  3,  6,  9,  12,  14,  21,  22,  36,  42,  59,  69,  85,  102,  114,  119,  133,  143,  146,  156,  169,  183,  189,  211,  224,  233,  244,  255,  270,  275,  283,  291,  298,  307,  312,  317,  319,  327,  333,  335,  337,  337,  339,  343,  349,  353,  353,  362,  363,  366,  368,  369,  370,  373,  376,  377,  378,  380,  383,  383,  387,  388,  392,  396,  399,  399,  402,  402,  404,  409,  409,  412,  416,  417,  430,  436,  441,  469,  476Alaska


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  3,  12,  17,  32,  43,  52,  57,  70,  89,  107,  118,  142,  155,  168,  211,  253,  275,  303,  344,  376,  432,  456,  470,  499,  519,  537,  560,  586,  616,  633,  698,  734,  770,  796,  827,  847,  867,  875,  888,  907,  937,  965,  990,  1015,  1023,  1040,  1056,  1095,  1123,  1152,  1185,  1205,  1226,  1254,  1330,  1374,  1408,  1436,  1462,  1477,  1515,  1565,  1603,  1648,  1687,  1713,  1741,  1819,  1877,  1948,  2013,  2055,  2074,  2109,  2137,  2189,  2226,  2282,  2325,  2349Maine


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  4,  5,  5,  5,  5,  6,  14,  21,  23,  31,  39,  51,  64,  79,  100,  127,  174,  239,  286,  316,  378,  452,  475,  513,  573,  620,  683,  725,  788,  897,  903,  923,  974,  1043,  1068,  1118,  1213,  1252,  915,  915,  1230,  1276,  1307,  1371,  1388,  1400,  1465,  1537,  1573,  1755,  1806,  1875,  1924,  1968,  2031,  2156,  2173,  2198,  2256,  2299,  2329,  2427,  2542,  2589,  2646,  2710,  2805,  2866,  2913,  3030,  3100,  3189,  3260,  3324,  3397,  3486,  3647,  3718,  3776,  3873Puerto Rico


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  4,  6,  6,  8,  8,  12,  19,  19,  29,  34,  45,  51,  65,  90,  121,  147,  161,  177,  198,  217,  241,  262,  281,  298,  319,  319,  332,  354,  365,  377,  387,  394,  399,  404,  415,  422,  426,  433,  433,  437,  439,  442,  444,  445,  448,  449,  451,  451,  452,  452,  454,  454,  456,  456,  456,  456,  458,  458,  458,  459,  461,  462,  462,  466,  468,  468,  470,  471,  478,  479,  479,  479,  479,  479,  479,  481,  485,  493,  505,  515,  519Montana


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  6,  12,  23,  29,  39,  51,  78,  106,  131,  157,  196,  242,  386,  538,  639,  720,  830,  947,  999,  1106,  1270,  1535,  1632,  1840,  2005,  2197,  2498,  2838,  3008,  3262,  3583,  3805,  3953,  4241,  4404,  4572,  4723,  4903,  5078,  5327,  5610,  5832,  6026,  6213,  6421,  6539,  6750,  6925,  7068,  7294,  7611,  7888,  8112,  8437,  8691,  9046,  9385,  9668,  9889,  10164,  10464,  10700,  11101,  11373,  11674,  11771,  12086,  12376,  13052,  13414,  13670,  14149,  14478,  14986,  15650,  16032,  16530,  17031,  17359,  17952,  18534Alabama


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  5,  5,  5,  9,  11,  23,  31,  42,  47,  50,  73,  123,  189,  231,  261,  310,  415,  526,  669,  890,  1012,  1076,  1100,  1170,  1210,  1232,  1366,  1425,  1438,  1457,  1499,  1538,  1587,  1609,  1655,  1668,  1672,  1736,  1766,  1802,  1836,  1870,  1887,  1897,  1917,  1952,  1984,  2016,  2035,  2061,  2059,  2106,  2127,  2158,  2178,  2205,  2230,  2232,  2261,  2294,  2325,  2352,  2389,  2419,  2421,  2455,  2476,  2506,  2534,  2595,  2626,  2650,  2664,  2699,  2731,  2770,  2804,  2840,  2855,  2908Idaho


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  1,  2,  2,  3,  3,  6,  6,  17,  17,  17,  17,  17,  19,  19,  23,  30,  30,  30,  37,  38,  42,  42,  43,  45,  45,  46,  46,  51,  51,  51,  51,  51,  51,  51,  53,  53,  54,  54,  54,  54,  54,  55,  57,  59,  59,  66,  66,  66,  66,  66,  66,  66,  66,  66,  68,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  69,  70Virgin Islands


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  3,  3,  3,  8,  12,  14,  15,  27,  29,  32,  32,  49,  53,  57,  58,  60,  139,  147,  152,  154,  223,  265,  266,  274,  409,  542,  577,  681,  716,  719,  721,  750,  790,  796,  805,  808,  811,  852,  911,  979,  997,  997,  997,  1113,  1114,  1114,  1115,  1115,  1117,  1118,  1118,  1118,  1118,  1118,  1120,  1120,  1120,  1120,  1121,  1121,  1121,  1123,  1123,  1123,  1123,  1123,  1134,  1134,  1134,  1134,  1135,  1135,  1139,  1140,  1141,  1141,  1141,  1144,  1144Guam


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  1,  2,  5,  8,  12,  16,  16,  39,  51,  76,  96,  113,  124,  145,  162,  191,  217,  242,  282,  324,  345,  412,  483,  524,  537,  593,  615,  638,  697,  725,  739,  776,  825,  890,  908,  929,  939,  981,  1010,  1025,  1053,  1077,  1095,  1109,  1125,  1151,  1184,  1195,  1224,  1242,  1276,  1297,  1323,  1347,  1362,  1369,  1378,  1404,  1434,  1447,  1470,  1492,  1502,  1514,  1567,  1603,  1705,  1729,  1771,  1782,  1854,  1899,  1935,  1972,  1989,  2010,  2028West Virginia


0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,  2,  2,  2,  2,  6,  8,  8,  8,  8,  8,  8,  11,  11,  11,  11,  11,  11,  13,  13,  13,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  14,  15,  15,  15,  16,  16,  19,  19,  19,  19,  19,  21,  21,  21,  21,  21,  22,  22,  22,  22,  22,  22,  22,  22,  22,  22,  22,  22Northern Mariana Islands

**Now Time to Verify**

In [110]:
filename = path + 'covid-19-data/processed-data/states/processed-us-states-' + lookup + '.csv'
verification = np.loadtxt(filename, dtype=int, delimiter=',')

print(verification)

OSError: covid-19-data/processed-data/processed-us-states-cases.csv not found.

In [120]:
flag = False

for i in range(len(verification)):

  if(flag):
    break
    
  state = all_states[i]   
#   print(state)
  for j in range(len(verification[i])):
    if(verification[i][j] != 0):
      date = all_dates[j]

#       print(date)
      
      df_of_state = df[df[resolution]== state]
      df_of_time = df_of_state[df_of_state['date'] == date]
      value = int(df_of_time[lookup].to_string(index=False))
      
      assert value == verification[i][j]
      if( value != verification[i][j]):
        print("Doesn't match", state, date)
        print('verif index: ', j, 'value: ', verification[i][j])
        print('actual: ', value)
        flag = True
        break

**VERIFICATION DONE**

In [192]:
states_order = pd.read_csv(path+'covid-19-dataset/processed-data/states/us-states-order.csv', header=None)
data = pd.read_csv(path+'covid-19-dataset/processed-data/states/processed-us-states-cases.csv', header=None)

In [193]:
states_order.head()

               0
0     Washington
1       Illinois
2     California
3        Arizona
4  Massachusetts

In [194]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,123,124,125,126,127,128,129,130,131,132
0,1,1,1,1,1,1,1,1,1,1,...,20487,20732,21005,21278,21565,21825,22109,22347,22543,23001
1,0,0,0,1,1,1,1,1,1,2,...,108100,110541,112248,113486,114612,116128,117794,119290,120588,121666
2,0,0,0,0,1,2,2,2,2,2,...,92815,94743,97017,99925,101874,104071,107043,110100,113114,115643
3,0,0,0,0,0,1,1,1,1,1,...,16040,16339,16561,16783,17262,17763,18465,19255,19936,20123
4,0,0,0,0,0,0,0,0,0,0,...,91662,92675,93271,93693,94220,94895,95512,96301,96965,100805

**Now time to take difference**

In [195]:
for i in range(len(data.columns)-1,0,-1):
#   print(i)
  if (data.iloc[:,i]-data.iloc[:,i-1] < 0).any():
    print(i)
    print(data.iloc[:,i]-data.iloc[:,i-1])

  else:
    data.iloc[:,i] = data.iloc[:,i]-data.iloc[:,i-1]

127
0      287
1     1126
2     1949
3      479
4      527
5      642
6     1532
7      357
8       88
9       71
10     143
11    1132
12     379
13     647
14      55
15     599
16     864
17     400
18      91
19     752
20     222
21      92
22     773
23     207
24       1
25     386
26     138
27     505
28       4
29     907
30      72
31     101
32     187
33     -15
34     447
35     433
36     442
37      57
38     504
39      20
40     122
41      10
42     313
43      97
44      30
45       1
46      28
47      73
48       2
49     382
50      32
51       0
52       1
53      45
54       0
dtype: int64
126
0      273
1     1238
2     2908
3      222
4      422
5      277
6     1083
7      264
8      101
9       18
10     145
11    1044
12     509
13     652
14      34
15     191
16     672
17     427
18     100
19     536
20     297
21      47
22     517
23     238
24       0
25     367
26     276
27     645
28       5
29    1615
30     109
31      80
32     141
33     430
34     371
35     529
36     336
37      67
38     224
39     -35
40     104
41       7
42     273
43     151
44     101
45       4
46      35
47      64
48       0
49     664
50      35
51       0
52       4
53      72
54       0
dtype: int64
122
0      241
1     2715
2     2313
3      293
4      805
5      665
6      928
7      238
8      181
9       47
10     165
11    1678
12     776
13     765
14      79
15     746
16    1247
17     394
18     129
19     894
20     295
21     169
22    1053
23     259
24      -5
25     492
26     213
27     805
28       2
29     813
30     105
31     297
32     140
33     432
34     340
35     627
36     421
37     179
38     397
39      88
40     153
41       2
42     402
43     154
44     143
45       2
46      71
47     117
48       0
49     256
50      61
51       0
52       0
53     102
54       0
dtype: int64
103
0      556
1     2994
2     1319
3      276
4     1824
5      304
6      866
7      354
8      194
9       45
10     188
11    3699
12     615
13     350
14      89
15     154
16    3027
17     495
18      83
19     993
20     409
21     121
22    1008
23     137
24       0
25     638
26     342
27     435
28      11
29     940
30     219
31     314
32     300
33       0
34     528
35     579
36     200
37      43
38     545
39      38
40     118
41       7
42     109
43      59
44     170
45       3
46      33
47      51
48       0
49     277
50      -2
51       0
52       1
53      11
54       0
dtype: int64
91
0      154
1     1551
2     1982
3      187
4     1556
5      121
6      914
7       80
8       88
9       46
10     410
11    4324
12     811
13     742
14      44
15     187
16    3581
17     323
18     107
19     511
20     341
21     127
22    1379
23     169
24       2
25     415
26     143
27      97
28       2
29     640
30     171
31      84
32     134
33     545
34     466
35     806
36     331
37      70
38    1008
39      17
40     101
41      15
42     204
43     291
44     186
45       8
46      13
47    -337
48       4
49     249
50      30
51       0
52      41
53      21
54       0
dtype: int64
82
0      187
1     1672
2      902
3      146
4     2615
5      128
6      568
7       87
8       97
9       80
10     316
11    8435
12     877
13    -158
14      56
15     210
16    3699
17     161
18     140
19     531
20     410
21     102
22    1181
23     112
24      13
25     496
26     112
27     194
28      16
29     197
30      97
31      55
32     136
33     525
34      77
35     354
36     581
37     103
38     641
39      15
40      71
41      21
42     139
43      52
44     146
45      15
46      17
47     109
48      10
49     321
50      19
51       0
52      35
53      22
54       0
dtype: int64

In [196]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,123,124,125,126,127,128,129,130,131,132
0,1,0,0,0,0,0,0,0,0,0,...,213,245,273,21278,21565,260,284,238,196,458
1,0,0,0,1,0,0,0,0,0,1,...,2390,2441,1707,113486,114612,1516,1666,1496,1298,1078
2,0,0,0,0,1,1,0,0,0,0,...,2014,1928,2274,99925,101874,2197,2972,3057,3014,2529
3,0,0,0,0,0,1,0,0,0,0,...,432,299,222,16783,17262,501,702,790,681,187
4,0,0,0,0,0,0,0,0,0,0,...,773,1013,596,93693,94220,675,617,789,664,3840

In [197]:
frames = [states_order, data]

In [198]:
result = pd.concat(frames, axis = 1)

In [199]:
result.head()

,0,0,1,2,3,4,5,6,7,8,...,123,124,125,126,127,128,129,130,131,132
0,Washington,1,0,0,0,0,0,0,0,0,...,213,245,273,21278,21565,260,284,238,196,458
1,Illinois,0,0,0,1,0,0,0,0,0,...,2390,2441,1707,113486,114612,1516,1666,1496,1298,1078
2,California,0,0,0,0,1,1,0,0,0,...,2014,1928,2274,99925,101874,2197,2972,3057,3014,2529
3,Arizona,0,0,0,0,0,1,0,0,0,...,432,299,222,16783,17262,501,702,790,681,187
4,Massachusetts,0,0,0,0,0,0,0,0,0,...,773,1013,596,93693,94220,675,617,789,664,3840

In [200]:
correct_format = result.T
correct_format.columns

RangeIndex(start=0, stop=55, step=1)

In [201]:
correct_format.to_csv(path+'covid-19-dataset/processed-data/states/correct-state-cases.csv', header = False, index = False)

**Look at adjacency list here**

In [202]:
adj = pd.read_csv(path + 'covid-19-dataset/processed-data/states/us-adj.csv', header=None)

In [203]:
adj.head()

,0,1,2,3,4,5,6,7,8,9
0,Alaska,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alabama,Alabama,Mississippi,Tennessee,Georgia,Florida,NaN,NaN,NaN,NaN
2,Arkansas,Arkansas,Missouri,Tennessee,Mississippi,Louisiana,Texas,Oklahoma,NaN,NaN
3,Arizona,Arizona,California,Nevada,Utah,Colorado,New Mexico,NaN,NaN,NaN
4,California,California,Oregon,Nevada,Arizona,NaN,NaN,NaN,NaN,NaN

In [204]:
states = adj.iloc[:, 0]

In [205]:
states.to_list()

['Alaska',
 'Alabama',
 'Arkansas',
 'Arizona',
 'California',
 'Colorado',
 'Connecticut',
 'DC',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Iowa',
 'Idaho',
 'Illinois',
 'Indiana',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Massachusetts',
 'Maryland',
 'Maine',
 'Michigan',
 'Minnesota',
 'Missouri',
 'Mississippi',
 'Montana',
 'North Carolina',
 'North Dakota',
 'Nebraska',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'Nevada',
 'New York',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Virginia',
 'Vermont',
 'Washington',
 'Wisconsin',
 'West Virginia',
 'Wyoming']

In [206]:
correct_format = pd.read_csv(path+'covid-19-dataset/processed-data/states/correct-state-cases.csv')

In [207]:
final_data = correct_format[ states.to_list() ]

In [208]:
final_data.to_csv(path+'covid-19-dataset/processed-data/states/final-us-state-cases.csv', index=False)

In [209]:
final_data = pd.read_csv(path+'covid-19-dataset/processed-data/states/final-us-state-cases.csv')

In [210]:
final_data

,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,DC,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia,Wyoming
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,13,498,261,501,2197,341,271,86,75,651,...,83,403,1715,243,1152,3,260,646,36,16
129,6,501,239,702,2972,486,203,46,65,1212,...,73,436,1253,329,1132,1,284,573,37,15
130,5,328,236,790,3057,482,260,179,186,927,...,94,477,1323,269,1078,2,238,465,17,7
131,28,593,240,681,3014,280,179,84,76,739,...,33,156,1578,278,996,4,196,169,21,5
132,7,582,190,187,2529,199,539,56,107,667,...,41,410,1107,197,791,2,458,138,18,7

In [218]:
data = final_data
data

,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,DC,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia,Wyoming
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,13,498,261,501,2197,341,271,86,75,651,...,83,403,1715,243,1152,3,260,646,36,16
129,6,501,239,702,2972,486,203,46,65,1212,...,73,436,1253,329,1132,1,284,573,37,15
130,5,328,236,790,3057,482,260,179,186,927,...,94,477,1323,269,1078,2,238,465,17,7
131,28,593,240,681,3014,280,179,84,76,739,...,33,156,1578,278,996,4,196,169,21,5
132,7,582,190,187,2529,199,539,56,107,667,...,41,410,1107,197,791,2,458,138,18,7

In [219]:
dataf.to_csv(path+'covid-19-dataset/processed-data/states/normalized-us-state-cases.csv', index=False)

In [220]:
dataf=(data-data.mean())/(data.std())

In [221]:
dataf

,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,DC,Delaware,Florida,...,South Dakota,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia,Wyoming
0,-0.259119,-0.247541,-0.248658,-0.247920,-0.248017,-0.249227,-0.249518,-0.244220,-0.241522,-0.253564,...,-0.241556,-0.246255,-0.247577,-0.251306,-0.239331,-0.255005,-0.254882,-0.243448,-0.248835,-0.253380
1,-0.259119,-0.247541,-0.248658,-0.247920,-0.248017,-0.249227,-0.249518,-0.244220,-0.241522,-0.253564,...,-0.241556,-0.246255,-0.247577,-0.251306,-0.239331,-0.255005,-0.255158,-0.243448,-0.248835,-0.253380
2,-0.259119,-0.247541,-0.248658,-0.247920,-0.248017,-0.249227,-0.249518,-0.244220,-0.241522,-0.253564,...,-0.241556,-0.246255,-0.247577,-0.251306,-0.239331,-0.255005,-0.255158,-0.243448,-0.248835,-0.253380
3,-0.259119,-0.247541,-0.248658,-0.247920,-0.248017,-0.249227,-0.249518,-0.244220,-0.241522,-0.253564,...,-0.241556,-0.246255,-0.247577,-0.251306,-0.239331,-0.255005,-0.255158,-0.243448,-0.248835,-0.253380
4,-0.259119,-0.247541,-0.248658,-0.247920,-0.247952,-0.249227,-0.249518,-0.244220,-0.241522,-0.253564,...,-0.241556,-0.246255,-0.247577,-0.251306,-0.239331,-0.255005,-0.255158,-0.243448,-0.248835,-0.253380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,-0.089608,-0.038773,0.023798,-0.054940,-0.106226,-0.163369,-0.209501,-0.178810,-0.188320,-0.178108,...,-0.127348,-0.124108,-0.058243,-0.072593,-0.044695,-0.238790,-0.183415,0.020021,-0.129118,-0.139914
129,-0.180883,-0.037515,0.000832,0.022483,-0.056208,-0.126860,-0.219542,-0.209233,-0.195414,-0.113084,...,-0.141108,-0.114105,-0.109247,-0.009345,-0.048075,-0.249600,-0.176792,-0.009752,-0.125792,-0.147005
130,-0.193923,-0.110039,-0.002300,0.056380,-0.050722,-0.127868,-0.211125,-0.108077,-0.109582,-0.146118,...,-0.112212,-0.101678,-0.101519,-0.053472,-0.057198,-0.244195,-0.189485,-0.053799,-0.192302,-0.203739
131,0.105981,0.001053,0.001876,0.014394,-0.053498,-0.178728,-0.223086,-0.180331,-0.187611,-0.167909,...,-0.196148,-0.198972,-0.073367,-0.046853,-0.071052,-0.233385,-0.201075,-0.174522,-0.179000,-0.217922
132,-0.167844,-0.003559,-0.050319,-0.175890,-0.084799,-0.199122,-0.169926,-0.201628,-0.165621,-0.176254,...,-0.185140,-0.121986,-0.125365,-0.106424,-0.105688,-0.244195,-0.128779,-0.187165,-0.188976,-0.203739

In [223]:
dataf.to_csv(path+'covid-19-dataset/processed-data/states/standardized-us-state-cases.csv', index=False)