In [148]:
import pandas as pd
import numpy as np
import networkx as nx

In [149]:
path = 'C:/Users/ah3wj/Desktop/epi-segmentation/'
df = pd.read_csv(path + 'covid-19-dataset/us-counties.csv')

In [150]:
df.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [151]:
df.county.head()

0    Snohomish
1    Snohomish
2    Snohomish
3         Cook
4    Snohomish
Name: county, dtype: object

In [152]:
df['date'] = df['date'].astype('datetime64[ns]')

In [153]:
df.sort_values(by = ['date'], inplace = True, ascending = True)

In [154]:
all_dates = df.date.unique()
print(len(all_dates))

94

In [155]:
df_counties = df['county']  + ':' +df['state']
all_counties = df_counties.unique()
print(len(all_counties))

2836

In [156]:
def preprocess(lookup, resolution):
  with open(path + 'covid-19-dataset/processed-data/processed-us-counties-' + lookup + '.csv', 'w+') as lookup_file:

    with open(path + 'covid-19-dataset/processed-data/us-counties-order.csv', 'w+')  as order_file:

      for x in all_counties:
        county, state = x.split(':') 
#         print(county + '\n', end='')
        order_file.write(county + '\n')

        for date in all_dates:
          filter1 = df[resolution] == county
          filter2 = df['state'] == state
          filter3 =  df['date'] == date

          if((filter1 & filter2 & filter3).any()):
            value = df.loc[filter1 & filter2 & filter3][lookup].to_string(index=False)
#             if(not value.isnumeric()):
#               value = '0'
          else:
            value = '0'

          if(date == all_dates[-1]):
#             print(value , end='')
            lookup_file.write(value)
          else:
#             print(value + ', ', end='')
            lookup_file.write(value + ', ')

#         print('\n')
        lookup_file.write('\n')

In [157]:
########################### careful here 
########################################
########################################

lookup = 'cases'
resolution = 'county'

preprocess(lookup= lookup, resolution = resolution)

KeyboardInterrupt:

In [51]:
with open(path + 'covid-19-dataset/processed-data/us-counties-order.csv', 'w+')  as order_file:
  for x in all_counties:
    order_file.write(x + '\n')

**Now Time to Verify**

In [37]:
filename = path + 'covid-19-dataset/processed-data/processed-us-counties-' + lookup + '.csv'
verification = np.loadtxt(filename, dtype=int, delimiter=',')

print(verification)

[[    1     1     1 ...  2162  2208  2239]
 [    0     0     0 ... 23181 24546 25811]
 [    0     0     0 ...  1691  1753  1827]
 ...
 [    0     0     0 ...     0     0     1]
 [    0     0     0 ...     0     0     1]
 [    0     0     0 ...     0     0     1]]

In [25]:
# flag = False

# for i in range(len(verification)):

#   if(flag):
#     break
    
#   county = all_counties[i]   
# #   print(state)
#   for j in range(len(verification[i])):
#     if(verification[i][j] != 0):
#       date = all_dates[j]

# #       print(date)
      
#       df_of_county = df[df[resolution]== county]
#       df_of_time = df_of_county[df_of_county['date'] == date]
#       value = int(df_of_time[lookup].to_string(index=False))
      
#       assert value == verification[i][j]
#       if( value != verification[i][j]):
#         print("Doesn't match", state, date)
#         print('verif index: ', j, 'value: ', verification[i][j])
#         print('actual: ', value)
#         flag = True
#         break

In [52]:
counties_order = pd.read_csv(path+'covid-19-dataset/processed-data/us-counties-order.csv', header=None, encoding = "ISO-8859-1")

In [53]:
data = pd.read_csv(path+'covid-19-dataset/processed-data/processed-us-counties-cases.csv', header=None)

In [54]:
counties_order.head()

                        0
0    Snohomish:Washington
1           Cook:Illinois
2       Orange:California
3        Maricopa:Arizona
4  Los Angeles:California

In [55]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,84,85,86,87,88,89,90,91,92,93
0,1,1,1,1,1,1,1,1,1,1,...,1949,1987,2031,2055,2092,2142,2162,2162,2208,2239
1,0,0,0,1,1,1,1,1,1,2,...,16323,17306,18087,19391,20395,21272,22101,23181,24546,25811
2,0,0,0,0,1,1,1,1,1,1,...,1299,1376,1425,1501,1556,1636,1676,1691,1753,1827
3,0,0,0,0,0,1,1,1,1,1,...,2056,2146,2264,2404,2491,2589,2636,2738,2846,2970
4,0,0,0,0,0,1,1,1,1,1,...,10047,10496,10854,11391,12021,12341,13816,15140,16435,17508

In [56]:
frames = [counties_order, data]

In [57]:
result = pd.concat(frames, axis = 1)

In [58]:
result.head()

,0,0,1,2,3,4,5,6,7,8,...,84,85,86,87,88,89,90,91,92,93
0,Snohomish:Washington,1,1,1,1,1,1,1,1,1,...,1949,1987,2031,2055,2092,2142,2162,2162,2208,2239
1,Cook:Illinois,0,0,0,1,1,1,1,1,1,...,16323,17306,18087,19391,20395,21272,22101,23181,24546,25811
2,Orange:California,0,0,0,0,1,1,1,1,1,...,1299,1376,1425,1501,1556,1636,1676,1691,1753,1827
3,Maricopa:Arizona,0,0,0,0,0,1,1,1,1,...,2056,2146,2264,2404,2491,2589,2636,2738,2846,2970
4,Los Angeles:California,0,0,0,0,0,1,1,1,1,...,10047,10496,10854,11391,12021,12341,13816,15140,16435,17508

In [59]:
correct_format = result.T

In [133]:
correct_format.to_csv(path+'covid-19-dataset/processed-data/correct-county-cases.csv', header = False, index = False)

In [132]:
correct_format

,0,1,2,3,4,5,6,7,8,9,...,2826,2827,2828,2829,2830,2831,2832,2833,2834,2835
0,Snohomish:Washington,Cook:Illinois,Orange:California,Maricopa:Arizona,Los Angeles:California,Santa Clara:California,Suffolk:Massachusetts,San Francisco:California,Dane:Wisconsin,San Diego:California,...,Sherman:Nebraska,Harding:New Mexico,Cochran:Texas,Jim Hogg:Texas,Fulton:Arkansas,Gray:Kansas,Kiowa:Kansas,Clark:Kansas,Rice:Kansas,Carlisle:Kentucky
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,2142,21272,1636,2589,12341,1870,8074,1160,361,2268,...,0,0,0,0,0,0,0,0,0,0
90,2162,22101,1676,2636,13816,1922,8314,1219,364,2325,...,0,0,0,0,0,0,0,0,0,0
91,2162,23181,1691,2738,15140,1946,8669,1234,381,2434,...,0,0,0,0,0,0,0,0,0,0
92,2208,24546,1753,2846,16435,1962,9060,1236,386,2491,...,0,0,0,0,0,0,0,0,0,0
93,2239,25811,1827,2970,17508,1987,9739,1305,387,2643,...,1,1,1,1,1,1,1,1,1,1

In [73]:
county_id = pd.read_csv(path+'covid-19-dataset/nssac_county_data.csv')

In [74]:
county_id.head()

,FIPS,County,Province_State,Country_Region,Last_Updated,Latitude,Longitude,Confirmed,Deaths,Recovered,Active
0,1001.0,Autauga,Alabama,USA,2020-05-08 00:00:00,32.534920,-86.642749,61,3,0,58
1,1003.0,Baldwin,Alabama,USA,2020-05-08 00:00:00,30.660970,-87.749840,205,5,0,200
2,1005.0,Barbour,Alabama,USA,2020-05-08 00:00:00,31.869603,-85.393197,51,1,0,50
3,1007.0,Bibb,Alabama,USA,2020-05-08 00:00:00,32.998644,-87.126439,44,0,0,44
4,1009.0,Blount,Alabama,USA,2020-05-08 00:00:00,33.980867,-86.567371,44,0,0,44

In [80]:
county_state = county_id[' County']+':'+county_id[' Province_State']
county_id['county_state'] = county_id[' County']+':'+county_id[' Province_State']

In [82]:
county_id = county_id[['FIPS', 'county_state']]

In [94]:
county_id = county_id.dropna()

In [143]:
county_id['FIPS'].to_list()

[1001,
 1003,
 1005,
 1007,
 1009,
 1011,
 1013,
 1015,
 1017,
 1019,
 1021,
 1023,
 1025,
 1027,
 1029,
 1031,
 1033,
 1035,
 1037,
 1039,
 1041,
 1043,
 1045,
 1047,
 1049,
 1051,
 1053,
 1055,
 1057,
 1059,
 1061,
 1063,
 1065,
 1067,
 1069,
 1071,
 1073,
 1075,
 1077,
 1079,
 1081,
 1083,
 1085,
 1087,
 1089,
 1091,
 1093,
 1095,
 1097,
 1099,
 1101,
 1103,
 1105,
 1107,
 1109,
 1111,
 1113,
 1117,
 1115,
 1119,
 1121,
 1123,
 1125,
 1127,
 1129,
 1131,
 1133,
 2020,
 2020,
 2050,
 2090,
 2110,
 2122,
 2130,
 2150,
 2170,
 2180,
 2195,
 2198,
 2220,
 2240,
 2290,
 4001,
 4003,
 4005,
 4007,
 4009,
 4011,
 4012,
 4013,
 4015,
 4017,
 4019,
 4021,
 4023,
 4025,
 4027,
 5001,
 5003,
 5005,
 5007,
 5009,
 5011,
 5015,
 5017,
 5019,
 5021,
 5023,
 5025,
 5027,
 5029,
 5031,
 5033,
 5035,
 5037,
 5039,
 5041,
 5043,
 5045,
 5047,
 5049,
 5051,
 5053,
 5055,
 5057,
 5059,
 5061,
 5063,
 5065,
 5067,
 5069,
 5071,
 5073,
 5075,
 5077,
 5079,
 5083,
 5085,
 5087,
 5089,
 5091,
 5093,
 5095,
 5097,
 5099,
 5101,
 5103,
 5105,
 5107,
 5109,
 5111,
 5113,
 5115,
 5117,
 5119,
 5121,
 5125,
 5127,
 5129,
 5131,
 5133,
 5135,
 5123,
 5137,
 5139,
 5141,
 5143,
 5145,
 5147,
 5149,
 6001,
 6003,
 6005,
 6007,
 6009,
 6011,
 6013,
 6015,
 6017,
 6019,
 6021,
 6023,
 6025,
 6027,
 6029,
 6031,
 6033,
 6037,
 6039,
 6041,
 6043,
 6045,
 6047,
 6051,
 6053,
 6055,
 6057,
 6059,
 6061,
 6063,
 6065,
 6067,
 6069,
 6071,
 6073,
 6075,
 6077,
 6079,
 6081,
 6083,
 6085,
 6087,
 6089,
 6093,
 6095,
 6097,
 6099,
 6101,
 6103,
 6107,
 6109,
 6111,
 6113,
 6115,
 8001,
 8003,
 8005,
 8007,
 8009,
 8013,
 8014,
 8015,
 8019,
 8023,
 8025,
 8027,
 8029,
 8031,
 8035,
 8037,
 8039,
 8041,
 8043,
 8045,
 8047,
 8049,
 8051,
 8053,
 8055,
 8059,
 8063,
 8065,
 8067,
 8069,
 8071,
 8073,
 8075,
 8077,
 8079,
 8081,
 8083,
 8085,
 8087,
 8089,
 8091,
 8093,
 8095,
 8097,
 8099,
 8101,
 8103,
 8105,
 8107,
 8109,
 8111,
 8113,
 8117,
 8119,
 8121,
 8123,
 8125,
 9001,
 9003,
 9005,
 9007,
 9009,
 9011,
 9013,
 9015,
 10001,
 10003,
 10005,
 11001,
 12001,
 12003,
 12005,
 12007,
 12009,
 12011,
 12013,
 12015,
 12017,
 12019,
 12021,
 12023,
 12027,
 12029,
 12031,
 12033,
 12035,
 12037,
 12039,
 12041,
 12043,
 12045,
 12047,
 12049,
 12051,
 12053,
 12055,
 12057,
 12059,
 12061,
 12063,
 12065,
 12067,
 12069,
 12071,
 12073,
 12075,
 12077,
 12079,
 12081,
 12083,
 12085,
 12086,
 12087,
 12089,
 12091,
 12093,
 12095,
 12097,
 12099,
 12101,
 12103,
 12105,
 12107,
 12113,
 12115,
 12117,
 12109,
 12111,
 12119,
 12121,
 12123,
 12125,
 12127,
 12129,
 12131,
 12133,
 13001,
 13003,
 13005,
 13007,
 13009,
 13011,
 13013,
 13015,
 13017,
 13019,
 13021,
 13023,
 13025,
 13027,
 13029,
 13031,
 13033,
 13035,
 13037,
 13039,
 13043,
 13045,
 13047,
 13049,
 13051,
 13053,
 13055,
 13057,
 13059,
 13061,
 13063,
 13065,
 13067,
 13069,
 13071,
 13073,
 13075,
 13077,
 13079,
 13081,
 13083,
 13085,
 13087,
 13089,
 13091,
 13093,
 13095,
 13097,
 13099,
 13101,
 13103,
 13105,
 13107,
 13109,
 13111,
 13113,
 13115,
 13117,
 13119,
 13121,
 13123,
 13125,
 13127,
 13129,
 13131,
 13133,
 13135,
 13137,
 13139,
 13141,
 13143,
 13145,
 13147,
 13149,
 13151,
 13153,
 13155,
 13157,
 13159,
 13161,
 13163,
 13165,
 13167,
 13169,
 13171,
 13173,
 13175,
 13177,
 13179,
 13181,
 13183,
 13185,
 13187,
 13193,
 13195,
 13197,
 13189,
 13191,
 13199,
 13201,
 13205,
 13207,
 13209,
 13211,
 13213,
 13215,
 13217,
 13219,
 13221,
 13223,
 13225,
 13227,
 13229,
 13231,
 13233,
 13235,
 13237,
 13239,
 13241,
 13243,
 13245,
 13247,
 13249,
 13251,
 13253,
 13255,
 13257,
 13259,
 13261,
 13263,
 13265,
 13267,
 13269,
 13271,
 13273,
 13275,
 13277,
 13279,
 13281,
 13283,
 13285,
 13287,
 13289,
 13291,
 13293,
 13295,
 13297,
 13299,
 13301,
 13303,
 13305,
 13307,
 13309,
 13311,
 13313,
 13315,
 13317,
 13319,
 13321,
 66010,
 15001,
 15003,
 15007,
 15009,
 16001,
 16003,
 16005,
 16011,
 16013,
 16017,
 16019,
 16025,
 16027,
 16029,
 16031,
 16037,
 16039,
 16043,
 16045,
 16047,
 16049,
 16051,
 16053,
 16055,
 16057,
 16059,
 16063,
 16065,
 16067,
 16069,
 16073,
 16075,
 16077,
 16081,
 16083,
 16085,
 16087,
 17001,
 17003,
 17005,
 17007,
 17009,
 17011,
 17013,
 17015,
 17017,
 17019,
 17021,
 17023,
 17025,
 17027,
 17029,
 17031,
 17033,
 17035,
 17037,
 17039,
 17041,
 17043,
 17049,
 17051,
 17053,
 17055,
 17057,
 17059,
 17061,
 17063,
 17065,
 17067,
 17069,
 17071,
 17073,
 17075,
 17077,
 17079,
 17081,
 17083,
 17085,
 17087,
 17089,
 17091,
 17093,
 17095,
 17097,
 17099,
 17101,
 17103,
 17105,
 17107,
 17115,
 17117,
 17119,
 17121,
 17123,
 17125,
 17127,
 17109,
 17111,
 17113,
 17129,
 17131,
 17133,
 17135,
 17137,
 17139,
 17141,
 17143,
 17145,
 17147,
 17149,
 17153,
 17157,
 17159,
 17161,
 17165,
 17167,
 17169,
 17173,
 17175,
 17163,
 17177,
 17179,
 17181,
 17183,
 17185,
 17187,
 17189,
 17191,
 17193,
 17195,
 17197,
 17199,
 17201,
 17203,
 18001,
 18003,
 18005,
 18007,
 18009,
 18011,
 18013,
 18015,
 18017,
 18019,
 18021,
 18023,
 18025,
 18027,
 18029,
 18031,
 18033,
 18035,
 18037,
 18039,
 18041,
 18043,
 18045,
 18047,
 18049,
 18051,
 18053,
 18055,
 18057,
 18059,
 18061,
 18063,
 18065,
 18067,
 18069,
 18071,
 18073,
 18075,
 18077,
 18079,
 18081,
 18083,
 18085,
 18087,
 18089,
 18091,
 18093,
 18095,
 18097,
 18099,
 18101,
 18103,
 18105,
 18107,
 18109,
 18111,
 18113,
 18115,
 18117,
 18119,
 18121,
 18123,
 18125,
 18127,
 18129,
 18131,
 18133,
 18135,
 18137,
 18139,
 18143,
 18145,
 18147,
 18149,
 18151,
 18141,
 18153,
 18155,
 18157,
 18159,
 18161,
 18163,
 18165,
 18167,
 18169,
 18171,
 18173,
 18175,
 18177,
 18179,
 18181,
 18183,
 19001,
 19005,
 19007,
 19009,
 19011,
 19013,
 19015,
 19017,
 19019,
 19021,
 19023,
 19025,
 19027,
 19029,
 19031,
 19033,
 19035,
 19037,
 19039,
 19041,
 19043,
 19045,
 19047,
 19049,
 19051,
 19055,
 19057,
 19059,
 19061,
 19065,
 19067,
 19069,
 19073,
 19075,
 19077,
 19079,
 19081,
 19083,
 19085,
 19087,
 19089,
 19091,
 19095,
 19097,
 19099,
 19101,
 19103,
 19105,
 19107,
 19109,
 19111,
 19113,
 19115,
 19119,
 19121,
 19123,
 19125,
 19127,
 19129,
 19131,
 19133,
 19135,
 19137,
 19139,
 19143,
 19145,
 19149,
 19151,
 19153,
 19155,
 19157,
 19161,
 19163,
 19165,
 19167,
 19169,
 19171,
 19173,
 19175,
 19177,
 19179,
 19181,
 19183,
 19185,
 19187,
 19189,
 19191,
 19193,
 19195,
 19197,
 20005,
 20007,
 20009,
 20011,
 20013,
 20015,
 20017,
 20019,
 20021,
 20023,
 20025,
 20027,
 20029,
 20031,
 20035,
 20037,
 20041,
 20043,
 20045,
 20047,
 20049,
 20051,
 20053,
 20055,
 20057,
 20059,
 20061,
 20063,
 20067,
 20069,
 20073,
 20075,
 20077,
 20079,
 20081,
 20085,
 20087,
 20089,
 20091,
 20093,
 20097,
 20099,
 20103,
 20107,
 20111,
 20115,
 20113,
 20119,
 20121,
 20123,
 20125,
 20127,
 20129,
 20131,
 20133,
 20137,
 20139,
 20141,
 20143,
 20147,
 20149,
 20151,
 20155,
 20157,
 20159,
 20161,
 20163,
 20169,
 20171,
 20173,
 20175,
 20177,
 20179,
 20181,
 20183,
 20185,
 20187,
 20189,
 20191,
 20197,
 20201,
 20205,
 20207,
 20209,
 21001,
 21003,
 21005,
 21007,
 21009,
 21011,
 21015,
 21017,
 21019,
 21021,
 21023,
 21025,
 21027,
 21029,
 21031,
 21033,
 21035,
 21037,
 21039,
 21041,
 21043,
 21045,
 21047,
 21049,
 21051,
 21053,
 21055,
 21057,
 21059,
 21061,
 21067,
 21069,
 21071,
 21073,
 21075,
 21077,
 21079,
 21081,
 21083,
 21085,
 21087,
 21089,
 21091,
 21093,
 21095,
 21097,
 21099,
 21101,
 21103,
 21105,
 21107,
 21109,
 21111,
 21113,
 21115,
 21117,
 21119,
 21121,
 21123,
 21125,
 21127,
 21131,
 21133,
 21135,
 21137,
 21139,
 21141,
 21143,
 21151,
 21155,
 21157,
 21159,
 21161,
 21145,
 21147,
 21149,
 21163,
 21165,
 21167,
 21169,
 ...]

In [98]:
county_id['FIPS'] = county_id['FIPS'].astype('int32')

C:\Users\ah3wj\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

**Now edgeid list**

In [114]:
adj = pd.read_csv(path+'covid-19-dataset/county_neighbors.csv')

In [115]:
adj = adj[['Source', 'Destination']]

In [116]:
adj = adj.to_csv(path+'covid-19-dataset/correct_county_edge_id_list.csv', header = False, index=False)

**Now networkx**

In [125]:
graph = nx.read_edgelist(path+'covid-19-dataset/correct_county_edge_id_list.csv', delimiter=',')

In [128]:
len(graph)

3223

In [131]:
nx.write_adjlist(G=graph, path=path+'covid-19-dataset/correct_county_adj_id_list.csv', delimiter=',')

In [140]:
adj_id = pd.read_csv(path+'covid-19-dataset/correct_county_adj_id_list.csv', header=None, dtype='string')

In [147]:
adj_id[adj_id.iloc[:,0].isin(county_id['FIPS'].to_list())]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Index: []

**Now finalize**

In [158]:
final_data = pd.read_csv(path+'covid-19-dataset/processed-data/correct-county-cases.csv')